<section class="options-container">
    <div>
        <!-- title -->
        <div class="options-title">
            <h1>O que você prefere?</h1>
        </div>
        <!-- options -->
         <article class="options">
            <button (click)="twoHoursDaily()" class="option">
                <h3>comer pipoca com o nenem?</h3>
            </button>
            <span style="color: white; display: flex; align-items: center;">ou</span>
            <button (click)="dailyAt5Am()" class="option">
                <h3>comer panettone com o nenem?</h3>
            </button>
         </article>
    </div>
</section>
